.qts_head_mid_st .box_head_mid_st .img_bannerid_st {
    height: calc(100vh - 65px - 151px);
    }
    .qts_head_mid_st .box_button_head_mid_st ul {
    display: flex;
    }
    .qts_head_mid_st .box_button_head_mid_st ul li a {
    display: block;
    padding: 5px 0;
    }
    .qts_head_mid_st .box_button_head_mid_st ul li a img {
    /*height: 82px;*/
    margin-bottom: 12px;
    width: auto;
    }
    .qts_head_mid_st .box_button_head_mid_st ul li a span {
    display: block;
    font-size: 15px;
    font-family: 'Tahoma';
    /*text-transform: uppercase;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    }
    
    .qts_head_mid_st .box_button_head_mid_st ul li {
    display: inline-block;
    width: 18%;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 2px #00000088;
    /*background:#ffb100;*/
    background-image: url(../img/bg_nd_2.png);
    text-align: center;
    
    }
    .box_button_head_mid_st ul li:hover{
      /* -ms-transform: rotate3d(0, 1, 0, 180deg);
      -webkit-transform: rotate3d(0, 1, 0, 180deg);
      transform: rotate3d(0, 1, 0, 180deg);
      -webkit-transition: -webkit-transform .35s;
      transition: -webkit-transform .35s;
      -o-transition: transform .35s;
      transition: transform .35s;
      transition: transform .35s, -webkit-transform .35s; */
      transform: scale(1.1);
      transition: 0.3s;
      /*background: #fff;*/
  }
  .qts_head_mid_st .box_button_head_mid_st ul li a img {
    height: 35px;
    margin-bottom: 2px;
    width: auto;
}

.report-container {
    width: 28.4vw; 
    height: 100%;
    /* background: #fff; */
}
.home-report-item {
    margin: 5px;
    background: #03a9f447;
    padding: 5px;
    color: rgb(220, 159, 29);
    border-radius: 8px;
}

.home-report-item .header{
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 0.85vw;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
}

.home-report-item .header >i {
    margin: 0px 5px;
}

.home-report-item .body {
    text-align: center;
    padding: 5px 0;
}
.home-report-item .body .value {
    font-size: 2vw;
    color: yellow;
}

.home-report-item .body .unit {
    font-size: 0.85vw;
}

.horizontal-box {
    display: flex;
    justify-content: space-around;
}
/*++++++++++++++++++++++++++++++++++++++++++++++*/
/*chá»¯ nháº¥p nhÃ¡y*/
@-webkit-keyframes my {
  0% { color: red; }
  50% { color: #fff;  }
  100% { color: pink;  }
}
@-moz-keyframes my {
  0% { color: red;  }
  50% { color: #fff;  }
  100% { color: #F8CD0A;  }
}
@-o-keyframes my {
  0% { color: red; }
  50% { color: #fff; }
  100% { color: #F8CD0A;  }
}
@keyframes my {
  0% { color: red;  }
  50% { color: #fff;  }
  100% { color: #F8CD0A;  }
}
.blink {
  font-size:30px;
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite;
  -o-animation: my 700ms infinite;
  animation: my 700ms infinite;
}
/*button nháº¥p nhÃ¡y*/
@-webkit-keyframes glowing {
  0% { background-color: #ff0000; -webkit-box-shadow: 0 0 3px #ff0000; }
  50% { background-color: #ffcc00; -webkit-box-shadow: 0 0 10px #ffcc00; }
  100% { background-color: #ff0000; -webkit-box-shadow: 0 0 3px #ff0000; }
}
 
@-moz-keyframes glowing {
  0% { background-color: #ff0000; -moz-box-shadow: 0 0 3px #ff0000; }
  50% { background-color: #ffcc00; -moz-box-shadow: 0 0 10px #ffcc00; }
  100% { background-color: #ff0000; -moz-box-shadow: 0 0 3px #ff0000; }
}
 
@-o-keyframes glowing {
  0% { background-color: #ff0000; box-shadow: 0 0 3px #ff0000; }
  50% { background-color: #ffcc00; box-shadow: 0 0 10px #ffcc00; }
  100% { background-color: #ff0000; box-shadow: 0 0 3px #ff0000; }
}
 
@keyframes glowing {
  0% { background-color: #ff0000; box-shadow: 0 0 3px #ff0000; }
  50% { background-color: #ffcc00; box-shadow: 0 0 10px #ffcc00; }
  100% { background-color: #ff0000; box-shadow: 0 0 3px #ff0000; }
}
 
.glowing {
  color: #FFF;
  -webkit-animation: glowing 700ms infinite;
  -moz-animation: glowing 700ms infinite;
  -o-animation: glowing 700ms infinite;
  animation: glowing 700ms infinite;
}
